Package: love.litten.amonglock
Name: AmongLock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Wrong passcode, you were ejected
Maintainer: alexandra <hiya@litten.love>
Author: alexandra <hiya@litten.love>
Section: Tweaks
Version: 1.0-24+debug
Installed-Size: 240
